{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="text-center">
    <p>Success!</p>
    <a href="/" class="btn btn-success">Go back home</a>
    </div>

{% endblock fos_user_content %}
