<div class="slim-footer">
         <div class="container">
            <p>Copyright 2020 &copy;</p>
            <p>D&eacute;velopp&eacute; par : <a href="#">ABDELMAJID EL FARKOUKI & MOUAD EL HAMMOUNI</a></p>
         </div>
</div>