<div class="slim-footer">
         <div class="container">
            <p><a href="https://github.com/majidelfarkouki/SportsBlog">GitHub</a></p>            
            <p>D&eacute;velopp&eacute; par : <a href="#">ABDELMAJID EL FARKOUKI & MOUAD EL HAMMOUNI</a></p>
         </div>
      </div>
