<div class="slim-header">
   <div class="container"  style="max-width: 75% !important;">
      <div class="slim-header-left">
               <h2 class="slim-logo">SPORTSBLOG</a></h2>
            </div>
            <div class="slim-header-right">
               {% if app.user %}
               <a href="#" class="nav-link">
               <span>{{ app.user.username }}</span>
               
               </a>
               <a href="/new" class="nav-link"><i class="icon ion-ios-plus"></i> Nouvel article</a>
               <a href="/logout" title="Sign out" class="nav-link"><i class="icon ion-log-out"></i> Se d&eacute;connecter</a>
               {% else %}
               <a class="nav-link" href="/login" title="Se connecter">
               <i class="icon ion-log-in"></i>&nbsp;Se connecter
               </a>
               <a class="nav-link" href="/register" title="Inscrivez-vous">
               <i class="icon ion-plus-circled"></i>&nbsp;Inscrivez-vous
               </a>
               {% endif %}
            </div>
   </div>
</div>